@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');

:root{
    --pt-to-px: 1.33px;
}

.sign-in-form{
    margin: auto;
    font-family: 'Mulish', sans-serif;
    text-align: center;
    border: 1px solid #ccd3ff;
}

.sign-in-form h3{
    font-size: calc(18 * var(--pt-to-px));
    color: #04146c;
}

.sign-in-form input, .sign-in-form hr{
    width: 500px;
}

.sign-in-form input, .sign-in-form a{
    font-size: calc(14 * var(--pt-to-px));
}

.sign-in-form hr{
    margin: 20px auto;
}

.sign-in-form a{
    margin: 20px 0;
}

.sign-in-form input{
    display: block;
    box-sizing: border-box;
    height: 50px;
    margin: auto auto 10px auto;
    padding: 10px;
}

.sign-in-form input[type=button]{
    color: white;
    background-color: #0a2ff1;
    font-weight: 600;
    font-size: calc(15 * var(--pt-to-px));
    border: 1px solid black;
}